body {
    background-color: bisque;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.Conteudo {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    width: 75%;
    text-align: center;
}

.Fechar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

#AbrirModal {
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}